*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #005AA3;
	line-height: normal;
}
.header{
	background: #004E8E;
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;
	padding:0px 0px 10px 0px;
	text-align:center;
	vertical-align: middle;
	border-bottom:solid 1px #378CCD;
	position:relative;
	top:0px;
}
.headerdivider{
	margin:0px 10px;
}
.header > div{
	display: inline-block;
}
.container{
	background: #fff;
	margin: 0 auto;
	position: relative;
	
}
.well {
    min-height: 20px;
    padding: 29px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
}
.navheader{
	position: relative;
	top:0px;
}
.navbar{
	display: inline-block;
	width:500px;
	color:#0063AB;
	font-size:22px;
	text-transform: lowercase;
	text-align: right;
	vertical-align: middle;
	position: relative;
	top: -28px;
}
.navbar a{
	margin:0px 10px;
	text-decoration: none;
	color:#0063AB;
	
}
.navon{
	color:#13A2D8 !important;
}
.logo{
	display: inline-block;
	position: relative;
	top: 0px;
}
.imageslider{
	margin-top:20px;
}
.imgresponsive{
	width:100%;
	display:inline-block;
}
@media screen and  (min-width:960px){
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	    max-width: 870px;
	}
}
@media screen and (min-width:0px) and (max-width:959px){
	.container{
		max-width:959px;		
	}
	.navbar{
		content:"=";
		display:block;
		font-size:1em;
		top:0px;
	}
	.navbar a{
		display:block;
		text-align: left;
	}
}